h1{
    text-align: center;
    background: yellow ;
}
.left-container{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.center-container{
    display: inline-block;
    vertical-align: top;
    border-left: 3px solid green;
    width: 55%;
    padding-left: 10px;
}
.right-container{
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    border: 2px dashed green;
    width: 20%;
    text-align: right;
    padding: 5px;

}